@font-face {
    font-family: "reydex";
    src: url(../fonts/Reydex.ttf);
}

:root{
    --cinza: #f3efef;
    --branco:#ffffff;
    --azul:#56BBC6;
}

#page{
    display: flex;
     flex-direction: column;
     min-height: 100vh;
}

header{
    background-color: var(--cinza);
}

main{
    flex: 1;
}

footer{
    background-color: var(--cinza);
    margin-top: auto;
}



