@font-face {
    font-family: "reydex";
    src: url(../fonts/Reydex.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100%;
}

a{
    text-decoration: none;
} 

header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1{
    font-family: "reydex";
    color: #F04006;
}

#pagina{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 40%;
    height: 80%;
    background-color: white;
    display: flex;
    align-items: center;
}

#form{
    width: 60%;
}

#banner{
    width: 40%;
}

#banner img{
    width: 100%;
    height: 100%;
    max-height: 580px;
}

fieldset{
    border: white;
    padding: 30px;
}

fieldset h1{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    color: #F04006;
}

fieldset h5{
    font-size: 13px;
    font-weight: 700;
}

fieldset p{
    font-size: 13px;
    line-height: 1.2;
}

div > input{
    width: 100%;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 18px;
    padding: 3px 7px;
    border-radius: 4px;
    border: solid rgb(168, 167, 167) 1px;
}

div > input:focus{
    outline: #F04006 solid 2px;
}

fieldset > input{
    width: 100%;
    height: 30px;
    padding: 1px 6px;
    color: white;
    font-weight: bold;
    background-color: #F04006;
    border: none;
    border-radius: 8px;
    margin-bottom: 18px;
}

#links{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    gap: 7px;
}